---
import '../assets/style.css'
import '@fontsource-variable/montserrat'
import SiteHeader from '../components/SiteHeader.vue'
import logo from '../assets/fragdenstaat.svg'
import Favicon from '../assets/favicon.png'
import OgImage from '../assets/og-image.jpg'
import GradientBackground from '../components/GradientBackground.vue'
import { shareText, publicUrl } from '../const'

interface Props {
  isApp?: boolean
}
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Real-O-Mat</title>
    <link rel="icon" href={Favicon.src} type="image/png" />
    <meta name="description" content={shareText} />
    <meta property="og:title" content="Real-O-Mat" />
    <meta property="og:description" content={shareText} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={publicUrl} />
    <meta property="og:image" content={OgImage.src} />
  </head>

  <body class="bg-purple-50">
    <!-- Matomo Image Tracker-->
    {
      import.meta.env.PROD && (
        <img
          referrerpolicy="no-referrer-when-downgrade"
          src="https://traffic.okfn.de/matomo.php?idsite=58&rec=1"
          class="absolute -z-10"
          alt=""
        />
      )
    }

    <GradientBackground client:load />

    <div class="flex flex-col min-h-screen pb-12">
      <SiteHeader isApp={!!Astro.props.isApp} client:load />

      <main class="container mx-auto px-4 z-10 flex-1">
        <slot />
      </main>
    </div>

    <footer>
      <div class="bg-gray-50">
        <div class="container mx-auto py-12 px-4 text-gray-600">
          <div class="flex max-md:flex-col items-center">
            <div>
              <a href="https://fragdenstaat.de" target="_blank">
                <img src={logo.src} alt="Ein Projekt von FragDenStaat" />
              </a>
            </div>
            <ul
              class="flex flex-col items-center md:flex-row gap-4 max-md:mt-8 md:gap-12 md:ms-auto"
            >
              <li>
                <a href="/methodik/">Methodik</a>
              </li>
              <li>
                <a href="https://fragdenstaat.de/impressum" target="_blank">
                  Impressum
                </a>
              </li>
              <li>
                <a href="https://fragdenstaat.de/datenschutz" target="_blank">
                  Datenschutz
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
